In [1]:
# Define the function "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [2]:
# Call function
say_hello()

Hello!

In [3]:
# Define "say_something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [4]:
# Call function
say_something("Hello World")

Hello World

In [5]:
Michelle_says = "Hi, my name is Michelle. I'm learning Python!"
say_something(Michelle_says)

Hi, my name is Michelle. I'm learning Python!

In [6]:
# A list of my grades
my_grades1 = ['B','C','B','D']

In [7]:
# Import pandas
import pandas as pd

# Convert my_grades to a Series
my_grades1 = pd.Series(my_grades)
my_grades1

0    B
1    C
2    B
3    D
dtype: object

In [9]:
my_grades1.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [20]:
# Using the format() funtion
my_grades2 = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades2:
    print("{:.0f}".format(grade))

92
85
87
98

In [21]:
# Convert numerical grades to a Series (map funtion does not work with a list)
my_grades_series = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades_series

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [23]:
my_grades_series.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator
dist